C:/User/Emanuel/Desktop/ArgPrograma/sobre-mi/sobre-mi/video/Amarte filter=lfs diff=lfs merge=lfs -text
C:/User/Emanuel/Desktop/ArgPrograma/sobre-mi/sobre-mi/video/Amarte filter=lfs diff=lfs merge=lfs -text
así filter=lfs diff=lfs merge=lfs -text
- filter=lfs diff=lfs merge=lfs -text
C.V.N.mp4 filter=lfs diff=lfs merge=lfs -text
C:/User/Emanuel/Desktop/ArgPrograma/sobre-mi/sobre-mi/video/Amarte filter=lfs diff=lfs merge=lfs -text
